# Lab 2 - IA340

In [1]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia340-2025-fall-wei-demo-5465148971/Crime_Incidents_in_2025.csv') # load the data from s3
df.head() #show the top 5 rows

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,400588.4650,129470.0424,5131706,2025/02/05 05:00:00+00,MIDNIGHT,GUN,HOMICIDE,800 - 899 BLOCK OF XENIA STREET SE,400588.464990,129470.042358,...,009801 1,9801.0,Precinct 121,38.833020,-76.993222,NaN,2005/09/27 07:25:00+00,2005/09/27 07:26:00+00,786940029,NaN
1,405684.5761,135633.8979,10133557,2025/06/30 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,4600 - 4699 BLOCK OF A STREET SE,405684.576067,135633.897851,...,009906 1,9906.0,Precinct 104,38.888528,-76.934478,NaN,2010/09/15 00:45:00+00,2010/09/14 04:00:00+00,786940034,NaN
2,397581.8300,141846.4300,25079053,2025/05/27 22:19:32+00,EVENING,OTHERS,ROBBERY,4400 - 4499 BLOCK OF IOWA AVENUE NW,397581.830000,141846.430000,...,002501 1,2501.0,Precinct 48,38.944508,-77.027895,NaN,2025/05/27 21:11:00+00,2025/05/27 22:18:00+00,786942870,NaN
3,399215.8700,138751.2000,25079273,2025/08/11 17:39:31+00,DAY,OTHERS,ROBBERY,1800 - 2199 BLOCK OF NORTH CAPITOL STREET,399215.870000,138751.200000,...,003302 1,3302.0,Precinct 19,38.916628,-77.009042,NaN,2025/05/28 07:40:00+00,2025/05/28 07:45:00+00,786944170,NaN
4,397700.5000,137976.2500,25421607,2025/05/05 18:31:00+00,DAY,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF P STREET NW,397700.500000,137976.250000,...,004901 3,4901.0,Precinct 18,38.909644,-77.026513,NaN,2025/05/04 14:45:00+00,2025/05/04 14:50:00+00,786944171,NaN

In [2]:
df.shape

(16612, 25)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16612 entries, 0 to 16611
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     16612 non-null  float64
 1   Y                     16612 non-null  float64
 2   CCN                   16612 non-null  int64
 3   REPORT_DAT            16612 non-null  object
 4   SHIFT                 16612 non-null  object
 5   METHOD                16612 non-null  object
 6   OFFENSE               16612 non-null  object
 7   BLOCK                 16612 non-null  object
 8   XBLOCK                16612 non-null  float64
 9   YBLOCK                16612 non-null  float64
 10  WARD                  16607 non-null  float64
 11  ANC                   16607 non-null  object
 12  DISTRICT              16561 non-null  float64
 13  PSA                   16561 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  16607 non-null  object
 15  BLOCK_GROUP           16601 non-null  object
 16  CENSUS_TRACT          16601 non-null  float64
 17  VOTING_PRECINCT       16607 non-null  object
 18  LATITUDE              16612 non-null  float64
 19  LONGITUDE             16612 non-null  float64
 20  BID                   3285 non-null   object
 21  START_DATE            16610 non-null  object
 22  END_DATE              15438 non-null  object
 23  OBJECTID              16612 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(11), int64(2), object(12)
memory usage: 3.2+ MB

In [5]:
df.describe()

,X,Y,CCN,XBLOCK,YBLOCK,WARD,DISTRICT,PSA,CENSUS_TRACT,LATITUDE,LONGITUDE,OBJECTID,OCTO_RECORD_ID
count,16612.000000,16612.000000,1.661200e+04,16612.000000,16612.000000,16607.000000,16561.000000,16561.000000,16601.000000,16612.000000,16612.000000,1.661200e+04,0.0
mean,399223.899504,137978.638332,2.509500e+07,399223.899504,137978.638332,4.397844,3.681722,372.759133,7635.496295,38.909663,-77.008955,7.873447e+08,NaN
std,3011.298002,3482.734790,5.500669e+05,3011.298002,3482.734790,2.269673,1.825169,182.120965,35568.341322,0.031373,0.034721,1.073366e+05,NaN
min,390519.560000,127300.240000,5.131706e+06,390519.560000,127300.240000,1.000000,1.000000,101.000000,101.000000,38.813473,-77.109338,7.869400e+08,NaN
25%,397229.100000,136474.240300,2.503431e+07,397229.100000,136474.240252,2.000000,2.000000,207.000000,3500.000000,38.896116,-77.031952,7.872527e+08,NaN
50%,398916.585000,137848.510000,2.507004e+07,398916.585006,137848.510000,5.000000,4.000000,401.000000,7304.000000,38.908480,-77.012499,7.872810e+08,NaN
75%,401014.009600,139965.547500,2.510658e+07,401014.009567,139965.547500,6.000000,5.000000,505.000000,9204.000000,38.927567,-76.988310,7.874623e+08,NaN
max,407806.750900,147250.570000,8.927285e+07,407806.750917,147250.570000,8.000000,7.000000,708.000000,980000.000000,38.993186,-76.910012,7.875041e+08,NaN

In [6]:
# Markdown

In [9]:
df = df.rename(columns={"OFFENSE": "CRIME"})
df.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,CRIME,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,400588.4650,129470.0424,5131706,2025/02/05 05:00:00+00,MIDNIGHT,GUN,HOMICIDE,800 - 899 BLOCK OF XENIA STREET SE,400588.464990,129470.042358,...,009801 1,9801.0,Precinct 121,38.833020,-76.993222,NaN,2005/09/27 07:25:00+00,2005/09/27 07:26:00+00,786940029,NaN
1,405684.5761,135633.8979,10133557,2025/06/30 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,4600 - 4699 BLOCK OF A STREET SE,405684.576067,135633.897851,...,009906 1,9906.0,Precinct 104,38.888528,-76.934478,NaN,2010/09/15 00:45:00+00,2010/09/14 04:00:00+00,786940034,NaN
2,397581.8300,141846.4300,25079053,2025/05/27 22:19:32+00,EVENING,OTHERS,ROBBERY,4400 - 4499 BLOCK OF IOWA AVENUE NW,397581.830000,141846.430000,...,002501 1,2501.0,Precinct 48,38.944508,-77.027895,NaN,2025/05/27 21:11:00+00,2025/05/27 22:18:00+00,786942870,NaN
3,399215.8700,138751.2000,25079273,2025/08/11 17:39:31+00,DAY,OTHERS,ROBBERY,1800 - 2199 BLOCK OF NORTH CAPITOL STREET,399215.870000,138751.200000,...,003302 1,3302.0,Precinct 19,38.916628,-77.009042,NaN,2025/05/28 07:40:00+00,2025/05/28 07:45:00+00,786944170,NaN
4,397700.5000,137976.2500,25421607,2025/05/05 18:31:00+00,DAY,OTHERS,THEFT/OTHER,1000 - 1099 BLOCK OF P STREET NW,397700.500000,137976.250000,...,004901 3,4901.0,Precinct 18,38.909644,-77.026513,NaN,2025/05/04 14:45:00+00,2025/05/04 14:50:00+00,786944171,NaN

In [10]:
df.isnull().sum()

X                           0
Y                           0
CCN                         0
REPORT_DAT                  0
SHIFT                       0
METHOD                      0
CRIME                       0
BLOCK                       0
XBLOCK                      0
YBLOCK                      0
WARD                        5
ANC                         5
DISTRICT                   51
PSA                        51
NEIGHBORHOOD_CLUSTER        5
BLOCK_GROUP                11
CENSUS_TRACT               11
VOTING_PRECINCT             5
LATITUDE                    0
LONGITUDE                   0
BID                     13327
START_DATE                  2
END_DATE                 1174
OBJECTID                    0
OCTO_RECORD_ID          16612
dtype: int64

In [18]:
df = df[['X', 'Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'CRIME', 'BLOCK', 'XBLOCK', 'YBLOCK', 'LATITUDE', 'LONGITUDE']]
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: [X, Y, CCN, REPORT_DAT, SHIFT, METHOD, CRIME, BLOCK, XBLOCK, YBLOCK, LATITUDE, LONGITUDE]
Index: []>